{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper flex flex-col gap-6">

    <h1>Espace à réserver : </h1>

    {% if conflict == true %}
    <div class='text-red-500 border border-red-500 rounded-2xl'>
        <p>Ce créneau n'est pas disponible !</p>
    </div>
    {% endif %}


    <div class="max-w-3xl p-4 border border-gray-300 rounded-lg flex flex-col gap-4">
        <h2 class="text-center text-xl font-semibold">{{ room.name }}</h2>
        <p class="text-gray-600">{{ room.description }}</p>
        <ul class="mt-2">
            <li><strong>Capactié : </strong> {{ room.capacity }}</li>
            <li><strong>Prix : </strong> {{ room.price }}</li>
            <li><strong>Catégorie : </strong> {{ room.categoryId }}</li>
        </ul>

        <a href="{{ path('app_home') }}"><i class="fa-solid fa-arrow-left"></i> retour</a>
    </div>

    {{ include('reservation/new.html.twig') }}

</div>
    


{% endblock %}
